[Desktop Entry]
X-KDE-Solid-Predicate=[ StorageVolume.ignored == false AND OpticalDisc.availableContent & 'Audio' ]
Type=Service
Actions=open;

[Desktop Action open]
Name=Open with x-AMP
Name[de]=Mit x-AMP öffnen
Name[el]=Άνοιγμα με το x-AMP
Name[es]=Abrir con x-AMP
Name[fi]=Avaa x-AMP:llä
Name[fr]=Ouvrir avec x-AMP
Name[gl_ES]=Abrir con x-AMP
Name[it]=Apri con x-AMP
Name[ja]=x-AMP で開く
Name[ko]=x-AMP로 열기
Name[nl]=Openen met x-AMP
Name[pl_PL]=Otwórz za pomocą x-AMP
Name[pt]=Abrir com x-AMP
Name[ru]=Открыть с помощью x-AMP
Name[tr]=x-AMP ile aç
Name[zh_CN]=使用 x-AMP 打开
Name[zh_TW]=用x-AMP打開
Exec=qmmp-xamp cdda://%d
Icon=qmmp-xamp
